.news
    .container
        .news__trip О компании / Новости
        .news__title.directions__title Новости
        .news__inner 
            .news__inner-item.item
                img(src="images/news/image_1.webp", alt="").item__img
                .item__date 18.12.2019
                .item__text-container
                    .item__title Президенту РФ представили новый“КАМАЗ” с тахографом “ШТРИХ-ТАХО RUS”
                    .item__subtitle Путин побывал на заводе “КАМАЗ”в Набережных челнах, и поздравил сотрудников компании с 50-летним юбилеем.
                .item__read-more
                    a(href="") Читать полностью >
            .news__inner-item.item
                img(src="images/news/image_2.webp", alt="").item__img
                .item__date 07.11.2019
                .item__text-container
                    .item__title Наличие тахографа будут проверять на техосмотре
                    .item__subtitle Путин побывал на заводе “КАМАЗ”в Набережных челнах, и поздравил сотрудников компании с 50-летним юбилеем.
                .item__read-more
                    a(href="") Читать полностью >
            .news__inner-item.item
                img(src="images/news/image_3.webp", alt="").item__img
                .item__date 18.12.2019
                .item__text-container
                    .item__title Президенту РФ представили новый“КАМАЗ” с тахографом “ШТРИХ-ТАХО RUS”
                    .item__subtitle Путин побывал на заводе “КАМАЗ”в Набережных челнах, 
                .item__read-more
                    a(href="") Читать полностью >
            .news__inner-item.item
                img(src="images/news/image_1.webp", alt="").item__img
                .item__date 18.12.2019
                .item__text-container
                    .item__title Президенту РФ представили новый“КАМАЗ” с тахографом “ШТРИХ-ТАХО RUS”
                    .item__subtitle Путин побывал на заводе “КАМАЗ”в Набережных челнах, и поздравил сотрудников компании с 50-летним юбилеем.
                .item__read-more
                    a(href="") Читать полностью >
            .news__inner-item.item
                img(src="images/news/image_2.webp", alt="").item__img
                .item__date 07.11.2019
                .item__text-container
                    .item__title Наличие тахографа будут проверять на техосмотре
                    .item__subtitle Путин побывал на заводе “КАМАЗ”в Набережных челнах, и поздравил сотрудников компании с 50-летним юбилеем.
                .item__read-more
                    a(href="") Читать полностью >
            .news__inner-item.item
                img(src="images/news/image_3.webp", alt="").item__img
                .item__date 18.12.2019
                .item__text-container
                    .item__title Президенту РФ представили новый“КАМАЗ” с тахографом “ШТРИХ-ТАХО RUS”
                    .item__subtitle Путин побывал на заводе “КАМАЗ”в Набережных челнах, 
                .item__read-more
                    a(href="") Читать полностью >
            .news__inner-item.item
                img(src="images/news/image_1.webp", alt="").item__img
                .item__date 18.12.2019
                .item__text-container
                    .item__title Президенту РФ представили новый“КАМАЗ” с тахографом “ШТРИХ-ТАХО RUS”
                    .item__subtitle Путин побывал на заводе “КАМАЗ”в Набережных челнах, и поздравил сотрудников компании с 50-летним юбилеем.
                .item__read-more
                    a(href="") Читать полностью >
            .news__inner-item.item
                img(src="images/news/image_2.webp", alt="").item__img
                .item__date 07.11.2019
                .item__text-container
                    .item__title Наличие тахографа будут проверять на техосмотре
                    .item__subtitle Путин побывал на заводе “КАМАЗ”в Набережных челнах, и поздравил сотрудников компании с 50-летним юбилеем.
                .item__read-more
                    a(href="") Читать полностью >
            .news__inner-item.item
                img(src="images/news/image_3.webp", alt="").item__img
                .item__date 18.12.2019
                .item__text-container
                    .item__title Президенту РФ представили новый“КАМАЗ” с тахографом “ШТРИХ-ТАХО RUS”
                    .item__subtitle Путин побывал на заводе “КАМАЗ”в Набережных челнах, 
                .item__read-more
                    a(href="") Читать полностью >