a(href="index.html") тахографы
a(href="glonass.html") глонасс
a(href="yoc.html") уос
a(href="driver_card.html") карты водителя
a(href="tachograph.html") каталог
a(href="company.html") o компании
a(href="all_news.html") все новости
a(href="news.html") новость
a(href="product.html") товар
