.about
    .container 
        .about__title.directions__title О компании
        .about__contact
            .about__contact-title Контакты
            .about__contact-container 
                .about__contact-container__tab Пермский край
                .about__contact-container__tab Республика Коми
                .about__contact-container__tab Ханты-Мансийский АО
            .about__contact-wrapper 
                .about__contact-wrapper__slide.slide 
                    .slide-container
                        .slide__city г. Пермь
                        .slide__inner 
                            .slide__inner-item
                                span Адрес:
                                |  614010 , г. Пермь, Комсомольский проспект, 87
                            .slide__inner-item 
                                span Тел.:
                                |  +7 (342) 206-27-48, 206-27-47
                            .slide__inner-item
                                span E-mail:
                                |  ostrov59@bk.ru
                        .slide__inner 
                            .slide__inner-item
                                span Адрес:
                                |  614010 , г. Пермь, Комсомольский проспект, 87
                            .slide__inner-item
                                span Тел.:
                                |  +7 (342) 206-27-48, 206-27-47
                            .slide__inner-item
                                span E-mail:
                                |  ostrov59@bk.ru
                    .slide-container
                        .slide__city г. Чайковский
                        .slide__inner 
                            .slide__inner-item
                                span Адрес:
                                |  614010 , г. Пермь, Комсомольский проспект, 87
                            .slide__inner-item 
                                span Тел.:
                                |  +7 (342) 206-27-48, 206-27-47
                            .slide__inner-item
                                span E-mail:
                                |  ostrov59@bk.ru
                    .slide-container
                        .slide__city г. Чернушка
                        .slide__inner 
                            .slide__inner-item
                                span Адрес:
                                |  614010 , г. Пермь, Комсомольский проспект, 87
                            .slide__inner-item 
                                span Тел.:
                                |  +7 (342) 206-27-48, 206-27-47
                            .slide__inner-item
                                span E-mail:
                                |  ostrov59@bk.ru

.license
    .container 
        .license__title.directions__title Лицензии и сертификаты
        .license__container
            .license__container-btnp
            .license__container-btnn
            .license__container-wrapper
                .license__container-wrapper__slide
                    img(src="images/license/image_1.png", alt="")
                .license__container-wrapper__slide
                    img(src="images/license/image_1.png", alt="")
                .license__container-wrapper__slide
                    img(src="images/license/image_1.png", alt="")
                .license__container-wrapper__slide
                    img(src="images/license/image_1.png", alt="")
                .license__container-wrapper__slide
                    img(src="images/license/image_1.png", alt="")

.partners
    .container
        .partners__title.directions__title Нам доверяют
        img(src="images/manufacturers/image_19.png", alt="")
        
.complex
    .container
        .complex__titlle.directions__title Комплекс услуг для вашего успеха
        .complex__first-block
            .complex__first-block__item
                .complex__first-block__item-container
                    h2 Более 10 лет
                    p ООО «Остров» решает подобные задачи
                .complex__first-block__item-container
                    h2 С 2006 года
                    p мы внедряем системы автоматического контроляв транспортные компании, помогая повысить эффективность работы, снизить расходную часть и избежать нарушений. 
            .complex__first-block__item 
                .complex__first-block__item-card.card
                    p Сегодня мы <b>подбираем, устанавливаеми </b>и 
                    b обслуживаем 
                    |современные системы контроля, соответствующие установленным нормативам
        .complex__container
            .complex__container-item
                img(src="images/icon/RED_taho.webp", alt="").complex__container-item__img 
                .complex__container-item__title Тахографы.
                .complex__container-item__text.short
                    p Установка, обслуживание, ремонт тахографов и изготовление карт осуществляется ООО «ОП «Остров» в соответствиис требованиями законодательства, 
                    p Компания включена ФБУ «Росавтотранс» в перечень мастерских, уполномоченных на данный вид деятельности (номер клейма РФ 0271, RUS 773).
            .complex__container-item
                img(src="images/icon/RED_moni.webp", alt="").complex__container-item__img 
                .complex__container-item__title Мониторинг транспорта с помощью ГЛОНАСС/GPS.
                .complex__container-item__text 
                    p Внедряем системы Спутникового Контроля Автотранспорта и Учета Топлива «СКАУТ». 
                    p В зависимости от потребностей вашего предприятия подберем оборудование с нужным функционалом, чтобы вы получили максимум пользы при минимальных вложениях.
        .complex__container
            .complex__container-item
                img(src="images/icon/RED_speedlimit.webp", alt="").complex__container-item__img 
                .complex__container-item__title Устройства ограничения скорости.
                .complex__container-item__text
                    p.bm Устанавливаем УОС на все виды транспорта, приборы соответствует требованиям ДОПОГ (Правил № 89 ЕЭК ООН).

                    p В работе транспортных компаний установка контрольного оборудования — лишь один из множества вопросов.

                    p И чтобы он решался быстро и просто, не отнимая вашего времени, мы предлагаем комплексные решения. Вам нужно только обрисовать имеющиеся задачи, а специалисты ОП «Остров» предложат готовые решения или разработают индивидуальный проект. 

                    p.mm Наш опыт работы показывает, что решение задач в комплексе — это выгодно и удобно для заказчика, ведь вы не тратите время на разбор каждой отдельной задачи. Поэтому ОП «Остров» предлагает <b>установку оборудования «под ключ»</b>, что подразумевает ряд услуг<span>→</span>
                    
                    p.mm Также мы оказываем технические и юридические консультации, помогаем в точности соблюдать требования законов, находим оптимальные решения для каждой компании и обучаем работес новым оборудованием и ПО.  
                .complex__first-block__item-container
                    h2 Более 500 транспортных компаний
                    p уже доверили нам монтаж и обслуживание систем контроля, что является лучшим подтверждением качества нашей работы.

            .complex__container-item
                .complex__container-item__card.card
                    p Мы подберем для вашей компании <b>оптимальное оборудование</b>, а также предложим многофункциональные готовые решения.
                ul.complex__container-item__list
                    li подбор оборудования с учетом поставленных задач и особенностей транспорта;
                    li поставка и монтаж приборов;
                    li установка программного обеспечениядля систем мониторинга
                    li информационный сервис по считыванию карт гарантийное обслуживание;
                    li замена блока СКЗИ, подготовка к метрологическойповерке, ремонт тахографов,терминалов и другихприборов
                .complex__container-item__card.card
                    p Обращаясь в ОП «Остров», вы получаете не просто поставщика, но <b>надежного партнера, заинтересованного в вашем успехе.</b>

.job-openings 
    .container 
        .job-openings__title.directions__title Вакансии
        .job-openings__container
            .job-openings__inner
                .job-openings__inner-item
                    .job-openings__inner-item__title Оператор колл-центра
                    .job-openings__inner-item__text Если Вы готовы не просто предложить клиенту нашу продукцию, а именно продать ее, применив все навыки, опыт и технику продаж, то наш дружный коллектив будет рад принять Вас в команду.
                .job-openings__inner-item
                    .job-openings__inner-item__title Менеджер активных продаж
                    .job-openings__inner-item__text Прямые продажи - одна из самых сложных задач менеджера в наше время, поэтому мы ищем истинных профессионалов своего дела, которым готовы платить хорошие деньги.
            .job-openings__inner
                form(action="").form-job
                    .form-job__title Заявка
                    .form-job__container
                        input(type="text" placeholder="ФИО").order-form__item
                        input(type="text" placeholder="Ваш телефон").order-form__item
                        .calc-subtitle 
                            span *Hажимая на кнопку отправить,
                            br
                            | я соглашаюсь с 
                            a(href="") политкой конфиденциальности
                        .form-job__container-btn
                            btn(type="submit").calc-btn.btn Отправить

        
        
                

                        
