.tachograph-baner 
    .container 
        .tachograph-baner__inner 
            .tachograph-baner__inner-title  Карты водителя
            .tachograph-baner__inner-text Гарантируем оформление документа по законам РФ и требованиям ЕС.
            .tachograph-baner__inner-text Изготовим вашу карту за 2 недели
            .tachograph-baner__inner-overlay
            img(src="images/common/image_18.webp", alt="").tachograph-baner__inner-img 

.cards 
    .container 
        .cards__title.directions__title  Выберите карту
        .cards__item
            .cards__item-card.card-driver
                .card-driver__container   
                    .card-driver__country 
                        p RUS
                    .card-driver__driver карта водителя
                .card-driver__container.p
                    img(src="images/icon/vector.webp", alt="").card-driver__img
                    .card-driver__title СКЗИ
                .card-driver__price 4000 ₽

            .card__item-text.text
                .card__text-container
                    .card__text-title Карта водителя с СКЗИ
                    .card__text-subtitle Предназначена для тахографов оборудованных блоком СКЗИ. Действует только на территории РФ
                    .card__text-text Изготовление: 14 дней
                    .card__text-text Срок действия: 3 года
                a(href="").card__text-btn.calc-btn.btn Заказать карту
        
        .cards__item
            .cards__item-card.card-driver
                .card-driver__container   
                    .card-driver__country 
                        p RUS
                    .card-driver__driver карта водителя
                .card-driver__container.p
                    img(src="images/icon/vector.webp", alt="").card-driver__img
                    .card-driver__title EСТР
                .card-driver__price 4000 ₽

            .card__item-text.text
                .card__text-container
                    .card__text-title Карта водителя с ЕСТР
                    .card__text-subtitle Предназначена для тахографов оборудованных блоком ЕСТР. Действует только на территории РФ
                    .card__text-text Изготовление: 14 дней
                    .card__text-text Срок действия: 3 года
                a(href="").card__text-btn.calc-btn.btn Заказать карту
        
        .cards__item
            .cards__item-card.card-driver
                .card-driver__container   
                    .card-driver__country 
                        p RUS
                    .card-driver__driver карта водителя
                .card-driver__container.p
                    img(src="images/icon/frame.webp", alt="").card-driver__img
                    .card-driver__title СКЗИ
                .card-driver__price 4000 ₽

            .card__item-text.text
                .card__text-container
                    .card__text-title Карта водителя с СКЗИ
                    .card__text-subtitle Предназначена для тахографов оборудованных блоком СКЗИ. Действует только на территории РФ
                    .card__text-text Изготовление: 14 дней
                    .card__text-text Срок действия: 3 года
                a(href="").card__text-btn.calc-btn.btn Заказать карту
        
        .cards__item
            .cards__item-card.card-driver
                .card-driver__container   
                    .card-driver__country 
                        p RUS
                    .card-driver__driver карта водителя
                .card-driver__container.p
                    img(src="images/icon/frame.webp", alt="").card-driver__img
                    .card-driver__title EСТР
                .card-driver__price 6000 ₽

            .card__item-text.text
                .card__text-container
                    .card__text-title Карта водителя с EСТР
                    .card__text-subtitle Предназначена для тахографов оборудованных блоком EСТР. Действует только на территории РФ
                    .card__text-text Изготовление: 14 дней
                    .card__text-text Срок действия: 3 года
                a(href="").card__text-btn.calc-btn.btn Заказать карту

.order
    .container
        .order-inner.calc-inner
            .order-title.calc-title Узнать как избежать штрафа
            form(action="" method="POST").order-form.calac-form
                input(type="text" placeholder="ФИО").order-form__item
                input(type="text" placeholder="Ваш телефон").order-form__item
                input(type="text" placeholder="Электронная почта").order-form__item
                .order-form__container
                    .calc-subtitle 
                        span *Hажимая на кнопку отправить,
                        br
                        | я соглашаюсь с 
                        a(href="") политкой конфиденциальности
                    btn(type="submit").calc-btn.btn Отправить

.tacho 
    .container 
        .tacho__title.directions__title Информационный сервис iTacho
        .tacho__subtitle Самый простой способ считывать и хранить информацию с карт
        .tacho__inner 
            img(src="images/common/image 18.webp", alt="").tacho__inner-img
            ul.tacho__inner-list.complex__container-item__list
                    li Импортируйте данные с карты водителяи цифрового тахографа.
                    li Получайте СМС уведомления о дате считывания данных с карты водителя и тахографа.
                    li iTaho напомнит, когда нужно произвести следующую калибровку.
                    li Смотрите данные о проведенных калибровках.
                    li Анализируйте события и нарушения фиксируемые тахографом.
                    li Организуйте труд и отдых водителя на основе анализа данных полученных с тахографа
                    li iTaho автоматически сформирует анализ нарушений.
                    li Считывайте информацию с карт водителейс СКЗИ и ЕСТР.
                    li Разблокировка карт.

.itacho 
    .container
        .itacho-inner
            .itacho-title.calc-title Хочу попробовать iTacho бесплатно
            form(action="" method="POST").itacho-form
                input(type="text" placeholder="ФИО").itacho-form__item
                input(type="text" placeholder="Ваш телефон").itacho-form__item
                .itacho-form__container 
                    .calc-subtitle 
                        span *Hажимая на кнопку отправить,
                        br
                        | я соглашаюсь с 
                        a(href="") политкой конфиденциальности
                    btn(type="submit").calc-btn.btn Получить доступ