.news
    .container
        .news__trip О компании / Новости / Минтранс обновил технические требования к тахографам
        .news__inner
            .news__inner-title.directions__title Минтранс обновил технические требования к тахографам
            .news__inner-date 18.12.2019
            .news__inner-text 
                p Изменения предусматривают, что тахографы подлежат метрологической поверке в порядке, установленном законодательством об обеспечении единства измерений. Водителям запрещается использовать неповереный тахограф. Пункт 2 Правил контроля работы тахографов предложено дополнить подпунктом 6 следующего содержания:

                p — на каждом экземпляре тахографа должен быть нанесен знак поверки и (или) оформлено свидетельство о поверке, и (или) сделана запись в паспорте (формуляре), заверенная подписью поверителя и знаком поверки с неистекшим сроком действия.

                p В Приказе также устанавливаются необходимые требования и описание процедуры поверки тахографа.

                p «До вступления в силу Приказа № 55 в российском законодательстве в вопросе поверки тахографа существовал правовой вакуум, В конце 2015 года тахографы были внесены в реестр средств измерений. На них стали распространяться нормы Федерального закона № 102 „Об обеспечении единства измерений“, согласно которым тахографы должны были быть поверены. Но процедуры поверки именно тахографов в нормативной базе не было».

                p По ее словам, Росстандарт в 2016 году начал проверять перевозчиков и наказывать их за то, что на автомобилях были установлены неповереные тахографы. «Но перевозчиков не предупредили о необходимости поверять тахографы. Кроме того, производители тахографов также продолжали выпускать неповереные тахографы,  Контролирующие органы выписывали на каждое ответственное лицо штрафы от 50 тыс. руб. Начались массовые жалобы. Для того, чтобы ввести понятие тахографа как средства измерения, необходимо было внести изменения в нормативные акты».

                p В Приказе отмечается, что тахографы, установленные на транспортные средства до вступления документа в силу, подлежат приведению в соответствие с новыми требованиями с момента замены в них блока СКЗИ. До момента замены блока СКЗИ требования Приказа на эти тахографы не распространяются. Кроме того, Приказ № 55 устраняет еще одно белое пятно в тахографическом законодательстве. «На транспортном средстве запрещается одновременное использование тахографа, соответствующего требованиям Европейского соглашения, и тахографа, которым транспортные средства ранее оснащались в соответствии с требованиями Технического регламента о безопасности колесных транспортных средств, утвержденного постановлением правительства Российской Федерации от 10 сентября 2009 года № 720», — отмечается в Приказе Минтранса.

                p В отечественном законодательстве не было нормы, согласно которой в автомобиле должен был быть установлен один тахограф. Данная норма позволила поставить точку в нарушениях, в части использования двух тахографов одновременно.

                p До 1 января 2018 года в России еще могут использоваться европейские цифровые тахографы для внутренних российских перевозок, но они должны быть откалиброваны, введены в эксплуатацию. Зачастую они еще на конвейере были установлены на автомобили марок MAN, Mercedes, Volvo, IVECO и др. После 1 января 2018 года, если автомобиль не осуществляет международные перевозки, то компания обязана заменить европейский цифровой тахограф на тахограф с блоком СКЗИ.

                p Что касается тахографов по 720 Постановлению, то в настоящее время использование таких тахографов незаконно, в случае, если он установлен после вступления в силу Приказа Минтранса № 273. Тахографы, соответствующие 720 Постановлению, установленные до вступления в силу данного Приказа, могут использоваться также до 1 января 2018 года.



