.product 
    .container
        .product__trip.news__trip Мониторинг транспорта / Мобильные терминалы / Модуль мониторинга GPS/ГЛОНАСС/GSM МТ-700 ENT
        .product__item 
            .product__item-title Модуль мониторинга
                br 
                | GPS/ГЛОНАСС/GSM МТ-700 ENT
            .product__item-container.inner.box
                .product__inner
                    img(src="images/page_product/gsm/image_1.webp", alt="").product__inner-maker 
                    img(src="images/page_product/gsm/image_2.webp", alt="").product__inner-item
                .product__box 
                    .product__box-special Действуют специальные предложения.
                        br
                        |Оставьте заявку, чтобы ознакомиться с ними
                    .product__box-price Цена по запросу
                    button.product__box-order.calc-btn.btn Заказать

.tachograph-tabs 
    .container
        .tachograph-tabs__container
            .tachograph-tabs__container-title Описание
            .tachograph-tabs__container-title отзывы
        .popular-wrapper__tabs.item
            .popular-wrapper__item-description Автомобильный трекер
                |который совмещает в
                |себе надежность, простоту STD и функциональность исполнения 
                |PRO, встроенное устройство для сигнализации водителю 
                |«зуммер», возможность подключения CAN, ODB, LLS за счет 
                |дополнительного интерфейса RS-485.
            a(href="").popular-wrapper__item-link 
                img(src="images/icon/download.webp", alt="").popular-wrapper__item-img
                .popular-wrapper__item-title Сравнительная таблица терминалов
            a(href="").popular-wrapper__item-link
                img(src="images/icon/download.webp", alt="").popular-wrapper__item-img
                .popular-wrapper__item-title Сравнительная таблица терминалов