.tachograph-baner 
    .container 
        .tachograph-baner__inner 
            .tachograph-baner__inner-title  Тахографы
            .tachograph-baner__inner-text Надежный инструмент для эффективной организации бизнеса и повышения уровня безопасности перевозок
            .tachograph-baner__inner-overlay
            img(src="images/common/image_17.webp", alt="").tachograph-baner__inner-img 
        .tachograph-baner__title Компания ООО "Остров" представляет всю линейку цифровых 
            | тахографов на Российском рынке
        .tachograph-baner__text Использование тахографов для организаций - это <b>инструмент контроля
            | ответственности сотрудников</b> и возможность <b>получения точной информации
            | обо всех перемещениях транспортного средства</b>, что в конечном счете 
            | помогает добиться <span>снижения издержек</span> на оплату штрафов и оплату ущерба 
            | от дорожно-транспортных происшествий, связанных с несоблюдением водителями режимов труда и отдыха, а 
            | также ненадлежащей эксплуатацией транспортного средства.

.tachograph-tabs 
    .container
        .tachograph-tabs__container
            .tachograph-tabs__container-title все
            .tachograph-tabs__container-title atol
            .tachograph-tabs__container-title vdo
            .tachograph-tabs__container-title штрих
            .tachograph-tabs__container-title меркурий
        .popular-wrapper__tabs
            .popular-wrapper__tabs-item.item
                .item__btns
                    a(href="").item__btns-watch.btn Посмотреть
                    .item__btns-order.btn Заказать
                .item__container
                    .item__container-img
                        img(src="images/product/image_1.webp", alt="").item__img
                    .item__title 
                        div VDO DTCO 3283
                    .item__btn-request.btn Цена по запросу
            .popular-wrapper__tabs-item.item
                .item__btns
                    a(href="").item__btns-watch.btn Посмотреть
                    .item__btns-order.btn Заказать
                .item__container
                    .item__container-img
                        img(src="images/product/image_2.webp", alt="").item__img
                    .item__title 
                        div ШТРИХ - Тахо RUS
                            br
                            |пластиковый корпус 
                            br
                            |без модема
                    .item__btn-request.btn Цена по запросу
            .popular-wrapper__tabs-item.item
                .item__btns
                    a(href="").item__btns-watch.btn Посмотреть
                    .item__btns-order.btn Заказать
                .item__container
                    .item__container-img
                        img(src="images/product/image_3.webp", alt="").item__img
                    .item__title 
                        div ШТРИХ - Тахо RUS
                            br
                            |пластиковый корпус 
                            br
                            |без модема
                    .item__btn-request.btn Цена по запросу
            .popular-wrapper__tabs-item.item
                .item__btns
                    a(href="").item__btns-watch.btn Посмотреть
                    .item__btns-order.btn Заказать
                .item__container
                    .item__container-img
                        img(src="images/product/image_4.webp", alt="").item__img
                    .item__title 
                        div ШТРИХ - Тахо RUS
                            br
                            |пластиковый корпус 
                            br
                            |без модема
                    .item__btn-request.btn Цена по запросу
            .popular-wrapper__tabs-item.item
                .item__btns
                    a(href="").item__btns-watch.btn Посмотреть
                    .item__btns-order.btn Заказать
                .item__container
                    .item__container-img
                        img(src="images/product/image_3.webp", alt="").item__img
                    .item__title 
                        div ШТРИХ - Тахо RUS
                            br
                            |пластиковый корпус 
                            br
                            |без модема
                    .item__btn-request.btn Цена по запросу
            .popular-wrapper__tabs-item.item
                .item__btns
                    a(href="").item__btns-watch.btn Посмотреть
                    .item__btns-order.btn Заказать
                .item__container
                    .item__container-img
                        img(src="images/product/image_4.webp", alt="").item__img
                    .item__title 
                        div ШТРИХ - Тахо RUS
                            br
                            |пластиковый корпус 
                            br
                            |без модема
                    .item__btn-request.btn Цена по запросу
            .popular-wrapper__tabs-item.item
                .item__btns
                    a(href="").item__btns-watch.btn Посмотреть
                    .item__btns-order.btn Заказать
                .item__container
                    .item__container-img
                        img(src="images/product/image_3.webp", alt="").item__img
                    .item__title 
                        div ШТРИХ - Тахо RUS
                            br
                            |пластиковый корпус 
                            br
                            |без модема
                    .item__btn-request.btn Цена по запросу
            .popular-wrapper__tabs-item.item
                .item__btns
                    a(href="").item__btns-watch.btn Посмотреть
                    .item__btns-order.btn Заказать
                .item__container
                    .item__container-img
                        img(src="images/product/image_4.webp", alt="").item__img
                    .item__title 
                        div ШТРИХ - Тахо RUS
                            br
                            |пластиковый корпус 
                            br
                            |без модема
                    .item__btn-request.btn Цена по запросу
            .popular-wrapper__tabs-item.item
                .item__btns
                    a(href="").item__btns-watch.btn Посмотреть
                    .item__btns-order.btn Заказать
                .item__container
                    .item__container-img
                        img(src="images/product/image_3.webp", alt="").item__img
                    .item__title 
                        div ШТРИХ - Тахо RUS
                            br
                            |пластиковый корпус 
                            br
                            |без модема
                    .item__btn-request.btn Цена по запросу
            .popular-wrapper__tabs-item.item
                .item__btns
                    a(href="").item__btns-watch.btn Посмотреть
                    .item__btns-order.btn Заказать
                .item__container
                    .item__container-img
                        img(src="images/product/image_4.webp", alt="").item__img
                    .item__title 
                        div ШТРИХ - Тахо RUS
                            br
                            |пластиковый корпус 
                            br
                            |без модема
                    .item__btn-request.btn Цена по запросу
            .popular-wrapper__tabs-item.item
                .item__btns
                    a(href="").item__btns-watch.btn Посмотреть
                    .item__btns-order.btn Заказать
                .item__container
                    .item__container-img
                        img(src="images/product/image_3.webp", alt="").item__img
                    .item__title 
                        div ШТРИХ - Тахо RUS
                            br
                            |пластиковый корпус 
                            br
                            |без модема
                    .item__btn-request.btn Цена по запросу
            .popular-wrapper__tabs-item.item
                .item__btns
                    a(href="").item__btns-watch.btn Посмотреть
                    .item__btns-order.btn Заказать
                .item__container
                    .item__container-img
                        img(src="images/product/image_4.webp", alt="").item__img
                    .item__title 
                        div ШТРИХ - Тахо RUS
                            br
                            |пластиковый корпус 
                            br
                            |без модема
                    .item__btn-request.btn Цена по запросу
            
.calc
    .container
        .calc-inner
            .calc-title Рассчитать стоимость
                br
                |тахографа с установкой
            form(action="" method="POST").calc-form
                .calc-row
                    .calc-row__wrapper
                        select.calc-row__item
                            option(value="Выберите модель тахогрофа") Выберите модель тахогрофа
                            option 1
                            option 1
                    input(type="text" placeholder="Укажите марку автомобиля").calc-row__item 
                .calc-row
                    input(type="text" placeholder="Ваше имя").calc-row__item
                    input(type="text" placeholder="Ваш телефон").calc-row__item
                .calc-subtitle 
                    span *Hажимая на кнопку узнать стоимость,
                    br
                    | я соглашаюсь с 
                    a(href="") политкой конфиденциальности
                btn(type="submit").calc-btn.btn Узнать стоимость