.tachograph-baner 
    .container 
        .tachograph-baner__inner 
            .tachograph-baner__inner-title Устройства  
                br
                |ограничения
                br
                |скорости
            .tachograph-baner__inner-text Установка на все виды транспорта
            .tachograph-baner__inner-overlay 
            img(src="images/common/image 4.webp", alt="").tachograph-baner__inner-img

.yoc 
    .container 
        .yoc__title.directions__title Установка УОС - это просто
        .yoc__subtitle.tacho__subtitle Наша компания осуществляет продажу и качественный монтаж
        .yoc__inner 
            .yoc__inner-item 
                .yoc__inner-title Лучшая цена
                .yoc__inner-text Нашли дешевле? 
                    br
                    |Мы изменим цену специально 
                    br
                    |для Вас!
            
            .yoc__inner-item 
                .yoc__inner-title Быстрая установка
                .yoc__inner-text Кратчайшие сроки 
                    br
                    |установки
            
            .yoc__inner-item 
                .yoc__inner-title Законно
                .yoc__inner-text Оборудование соответствует 
                    br
                    |требованиям законодательства

.about-yoc
    .container
        .about-yoc__title.directions__title Что такое УОС
        .about-yoc__inner 
            .about-yoc__inner-item.card <b>Устройство ограничения скорости 
                |(УОС)</b> — это контрольное устройство (КУ), 
                |первоначальная задача которого, регулировка подачи 
                |топлива в ДВС, для регулировки ограничения 
                |скорости транспортного средства. 
            .about-yoc__inner-item 
                .about-yoc__inner-title УОС позволяет осуществлять регулировку следующими способами:
                ul.about-yoc__inner-list
                    li Через электромагнитный топливный клапан. 
                        br
                        | Для автомобилей с механической педалью газа
                    li Педаль акселерометра (электронная педаль газа)
                    
.choice
    .container 
        .choice__title.directions__title Выберите оборудование
        .popular-wrapper__tabs
                .popular-wrapper__tabs-item.item
                    .item__btns
                        a(href="").item__btns-watch.btn Посмотреть
                        .item__btns-order.btn Заказать
                    .item__container
                        .item__container-img
                            img(src="images/equipment/image 31.webp", alt="").item__img
                        .item__title 
                            div VDO DTCO 3283
                        .item__btn-request.btn Цена по запросу
                .popular-wrapper__tabs-item.item
                    .item__btns
                        a(href="").item__btns-watch.btn Посмотреть
                        .item__btns-order.btn Заказать
                    .item__container
                        .item__container-img
                            img(src="images/equipment/image 32.webp", alt="").item__img
                        .item__title 
                            div ШТРИХ - Тахо RUS
                                br
                                |пластиковый корпус 
                                br
                                |без модема
                        .item__btn-request.btn Цена по запросу
                .popular-wrapper__tabs-item.item
                    .item__btns
                        a(href="").item__btns-watch.btn Посмотреть
                        .item__btns-order.btn Заказать
                    .item__container
                        .item__container-img
                            img(src="images/equipment/image 34.webp", alt="").item__img
                        .item__title 
                            div ШТРИХ - Тахо RUS
                                br
                                |пластиковый корпус 
                                br
                                |без модема
                        .item__btn-request.btn Цена по запросу
                .popular-wrapper__tabs-item.item
                    .item__btns
                        a(href="").item__btns-watch.btn Посмотреть
                        .item__btns-order.btn Заказать
                    .item__container
                        .item__container-img
                            img(src="images/equipment/image 32.webp", alt="").item__img
                        .item__title 
                            div ШТРИХ - Тахо RUS
                                br
                                |пластиковый корпус 
                                br
                                |без модема
                        .item__btn-request.btn Цена по запросу

.requirements 
    .container 
        .requirements__title.directions__title Требования к установке УОС
        .requirements__container 
            .requirements__inner 
                .requirements__inner-item
                    .requirements__inner-title Правила ДОПОГ
                    .requirements__inner-text В связи с требованиями ДОПОГ (Правил № 89 ЕЭК ООН) УОС, должно присутствовать на всех транспортных средствах перевозящих опасные грузы, максимальной массой более 3,5 
                .requirements__inner-item
                    .requirements__inner-title Правила ЕЭК ООН №89
                    .requirements__inner-text Согласно правила ЕЭК ООН №89, УОС и его составляющие, установленные на транспортное средство, должны быть защищеныот некомпетентных регулировок и прекращения питания, т.е. оборудование должно быть опломбировано.
                a(href="").requirements__inner-link
                    img(src="images/icon/download.webp", alt="").requirements__inner-img
                    .requirements__inner-subtitle Скачать правила ЕЭК ООН №89
            
            .requirements__inner-card.card
                .card__title Штрафы за нарушение ДОПОГ и ПОГАТ
                
                .card__container
                    .card__text для водителей
                    .card__subtitle от 2 000 до 2 500 ₽
                
                .card__container
                    .card__text для должностных лиц
                    .card__subtitle от 15 000 до 20 000 ₽
                
                .card__container
                    .card__text для предприятий
                    .card__subtitle от 400 000 до 500 000 ₽

.order
    .container
        .order-inner.calc-inner
            .order-title.calc-title Нужна консультация специалиста
            form(action="" method="POST").order-form.calac-form
                input(type="text" placeholder="ФИО").order-form__item
                input(type="text" placeholder="Ваш телефон").order-form__item
                input(type="text" placeholder="Электронная почта").order-form__item
                .order-form__container
                    .calc-subtitle 
                        span *Hажимая на кнопку отправить,
                        br
                        | я соглашаюсь с 
                        a(href="") политкой конфиденциальности
                    btn(type="submit").calc-btn.btn Отправить