.product
    .product-container
        .product-container__btn-prev 
        .product-container__btn-next
        .product-wrapper
            .product-slide
                .product-slide__title Устройство 
                    br 
                    |ограничения 
                    br
                    |скорости
                .product-slide__subtitle Экономия топлива, снижение риска ДТП
                a.product-slide__btn.btn Подробнее
                img(src="images/car.png", alt="").product-slide__img
                .product-slide__overlay

            .product-slide
                .product-slide__title Устройство 
                    br 
                    |ограничения 
                    br
                    |скорости
                .product-slide__subtitle Экономия топлива, снижение риска ДТП
                a.product-slide__btn.btn Подробнее
                img(src="images/car.png", alt="").product-slide__img
                .product-slide__overlay

            .product-slide
                .product-slide__title Устройство 
                    br 
                    |ограничения 
                    br
                    |скорости
                .product-slide__subtitle Экономия топлива, снижение риска ДТП
                a.product-slide__btn.btn Подробнее
                img(src="images/car.png", alt="").product-slide__img
                .product-slide__overlay

            .product-slide
                .product-slide__title Устройство 
                    br 
                    |ограничения 
                    br
                    |скорости
                .product-slide__subtitle Экономия топлива, снижение риска ДТП
                a.product-slide__btn.btn Подробнее
                img(src="images/car.png", alt="").product-slide__img
                .product-slide__overlay

            .product-slide
                .product-slide__title Устройство 
                    br 
                    |ограничения 
                    br
                    |скорости
                .product-slide__subtitle Экономия топлива, снижение риска ДТП
                a.product-slide__btn.btn Подробнее
                img(src="images/car.png", alt="").product-slide__img
                .product-slide__overlay

.directions 
    .container 
        .directions__title Основные направления
        .directions__inner 
            .directions__item
                img(src="images/icon/red_taho.webp", alt="").directions__item-img
                .directions__item-title Тарифы
            .directions__item
                img(src="images/icon/red_moni.webp", alt="").directions__item-img
                .directions__item-title Мониторинг
                    br
                    | транспорта
            .directions__item
                img(src="images/icon/red_speedlimit.webp", alt="").directions__item-img
                .directions__item-title Устройство
                    br
                    | органичения 
                    br
                    | скорости
            .directions__item
                img(src="images/icon/red_card.webp", alt="").directions__item-img
                .directions__item-title Карты
                    br
                    | Водителя

.calc
    .container
        .calc-inner
            .calc-title Рассчитать стоимость
                br
                |тахографа с установкой
            form(action="" method="POST").calc-form
                .calc-row
                    .calc-row__wrapper
                        select.calc-row__item
                            option(value="Выберите модель тахогрофа") Выберите модель тахогрофа
                            option 1
                            option 1
                    input(type="text" placeholder="Укажите марку автомобиля").calc-row__item 
                .calc-row
                    input(type="text" placeholder="Ваше имя").calc-row__item
                    input(type="text" placeholder="Ваш телефон").calc-row__item
                .calc-subtitle 
                    span *Hажимая на кнопку узнать стоимость,
                    br
                    | я соглашаюсь с 
                    a(href="") политкой конфиденциальности
                btn(type="submit").calc-btn.btn Узнать стоимость

.popular
    .container  
        .popular-title.directions__title Популярные услуги и товары
        .popular-wrapper
            .popular-wrapper__inner 
                .popular-wrapper__inner-title рекомендуем
                .popular-wrapper__inner-title спецпредложения
                .popular-wrapper__inner-title готовые решения
                .popular-wrapper__inner-title новинки
            .popular-wrapper__tabs
                .popular-wrapper__tabs-item.item
                    .item__btns
                        a(href="").item__btns-watch.btn Посмотреть
                        .item__btns-order.btn Заказать
                    .item__container
                        .item__container-img
                            img(src="images/product/image_1.webp", alt="").item__img
                        .item__title 
                            div VDO DTCO 3283
                        .item__btn-price.btn 3600 ₽
                .popular-wrapper__tabs-item.item
                    .item__btns
                        a(href="").item__btns-watch.btn Посмотреть
                        .item__btns-order.btn Заказать
                    .item__container
                        .item__container-img
                            img(src="images/product/image_2.webp", alt="").item__img
                        .item__title 
                            div ШТРИХ - Тахо RUS
                                br
                                |пластиковый корпус 
                                br
                                |без модема
                        .item__btn-request.btn Цена по запросу
                .popular-wrapper__tabs-item.item
                    .item__btns
                        a(href="").item__btns-watch.btn Посмотреть
                        .item__btns-order.btn Заказать
                    .item__container
                        .item__container-img
                            img(src="images/product/image_3.webp", alt="").item__img
                        .item__title 
                            div ШТРИХ - Тахо RUS
                                br
                                |пластиковый корпус 
                                br
                                |без модема
                        .item__btn-request.btn Цена по запросу
                .popular-wrapper__tabs-item.item
                    .item__btns
                        a(href="").item__btns-watch.btn Посмотреть
                        .item__btns-order.btn Заказать
                    .item__container
                        .item__container-img
                            img(src="images/product/image_4.webp", alt="").item__img
                        .item__title 
                            div ШТРИХ - Тахо RUS
                                br
                                |пластиковый корпус 
                                br
                                |без модема
                        .item__btn-request.btn Цена по запросу

.official-supplier
    .container 
        .official-supplier__title Мы являемся официальным поставщиком производителей
        .official-supplier__container
            img(src="images/manufacturers/image_1.webp", alt="").official-supplier__container-item
            img(src="images/manufacturers/image_2.webp", alt="").official-supplier__container-item
            img(src="images/manufacturers/image_3.webp", alt="").official-supplier__container-item
            img(src="images/manufacturers/image_4.webp", alt="").official-supplier__container-item
            img(src="images/manufacturers/image_5.webp", alt="").official-supplier__container-item
            img(src="images/manufacturers/image_6.webp", alt="").official-supplier__container-item

.news
    .container
        .news__title.directions__title Новости
        .news__inner 
            .news__inner-item.item
                img(src="images/news/image_1.webp", alt="").item__img
                .item__date 18.12.2019
                .item__text-container
                    .item__title Президенту РФ представили новый“КАМАЗ” с тахографом “ШТРИХ-ТАХО RUS”
                    .item__subtitle Путин побывал на заводе “КАМАЗ”в Набережных челнах, и поздравил сотрудников компании с 50-летним юбилеем.
                .item__read-more
                    a(href="") Читать полностью >
            .news__inner-item.item
                img(src="images/news/image_2.webp", alt="").item__img
                .item__date 07.11.2019
                .item__text-container
                    .item__title Наличие тахографа будут проверять на техосмотре
                    .item__subtitle Путин побывал на заводе “КАМАЗ”в Набережных челнах, и поздравил сотрудников компании с 50-летним юбилеем.
                .item__read-more
                    a(href="") Читать полностью >
            .news__inner-item.item
                img(src="images/news/image_3.webp", alt="").item__img
                .item__date 18.12.2019
                .item__text-container
                    .item__title Президенту РФ представили новый“КАМАЗ” с тахографом “ШТРИХ-ТАХО RUS”
                    .item__subtitle Путин побывал на заводе “КАМАЗ”в Набережных челнах, 
                .item__read-more
                    a(href="") Читать полностью >
        .news__all-news 
            a(href="all_news.html") Cмотреть все новости
                    
.order
    .container
        .order-inner.calc-inner
            .order-title.calc-title Отправить заявку
            form(action="" method="POST").order-form.calac-form
                input(type="text" placeholder="ФИО").order-form__item
                input(type="text" placeholder="Ваш телефон").order-form__item
                input(type="text" placeholder="Электронная почта").order-form__item
                .order-form__container
                    .calc-subtitle 
                        span *Hажимая на кнопку отправить,
                        br
                        | я соглашаюсь с 
                        a(href="") политкой конфиденциальности
                    btn(type="submit").calc-btn.btn Отправить