footer.footer
  .footer__item 
    .container
      .footer__item-logo 
        img(src="/images/FOOTER_LOGO_OSTROV.svg", alt="")
      .footer__item-section.footer-section
        .footer-section__title Популярны разделы сайта:
        .footer-section__container
          .footer-section__item
            a(href="").footer-section__item-content О компании
            a(href="").footer-section__item-content Новости
            a(href="").footer-section__item-content Отзовы наших клиентов
            a(href="").footer-section__item-content Контакты
          .footer-section__item
            a(href="").footer-section__item-content Тахографы 
            a(href="").footer-section__item-content Карты для тахогрофа
            a(href="").footer-section__item-content Мониторинг транспорта
            a(href="").footer-section__item-content Устройства ограничения скорости
          .footer-section__item
            a(href="").footer-section__item-content Сервисный центр
            a(href="").footer-section__item-content Готовые решения
            a(href="").footer-section__item-content Каталог
      .footer__item-contact 
        .footer__item-contact__phone +7 (342) 206-27-48
        button.footer__btn.btn Заказать звонок
  .footer__item 
    .container
      .footer__item-copy © 2017—2019 ООО "ОП "Остров"
      .footer__item-copy Представленная информация не является публичной офертой. 
        br 
        | Цены и условия на момент продажи могут быть изменены.
      .footer__item-copy Политика конфиденциальности
