header.header
  .container
    .header__logo 
      a(href="all_pages.html")  
        img(src="/images/LOGO_OSTROV.svg", alt="") 
    nav.header__nav.nav
      ul.nav__inner
        li.nav__item 
          a(href="index.html") тахографы
        li.nav__item.active
          a(href="glonass.html") глонасс
        li.nav__item 
          a(href="yoc.html") уос
        li.nav__item 
          a(href="driver_card.html") карты водителя
        li.nav__item 
          a(href="tachograph.html") каталог
        li.nav__item
          a(href="company.html") o компании
    .header__contact 
      .header__contact-phone +7 (342) 206-27-48
      .header__contact-title Отдел продаж
    
            


            